
body {
    margin: 0;
}
#landing {
    background-color: #f9fafc;
}
.row .nav__row{
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
